services:

  # --- ROUTER TO TAILSCALE
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale-router
    hostname: "{{ server.hostname }}"
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_USERSPACE=false
      - TS_STATE_DIR=/var/lib/tailscale
    networks:
      - proxy
    healthcheck:
      # Check if Tailscale network interface is loaded
      test: ["CMD-SHELL", " ip a | grep -q tailscale"]

  # --- PROXY
  # Dashboard port: 81
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: 'nginx-proxy-manager'
    restart: unless-stopped
    network_mode: service:tailscale
    volumes:
      - ${PWD}/nginx/data:/data
      - ${PWD}/nginx/letsencrypt:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s
    depends_on:
      tailscale:
        condition: service_healthy

  # --- WATCHDOG
  # Exposes ports: 2375
  docker-socket-proxy:
    container_name: "docker-socket-proxy"
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    restart: unless-stopped
    environment:
      # For Portainer
      - CONTAINERS=1
      - SERVICES=1
      - TASKS=1
      - IMAGES=1
      - INFO=1
      - VOLUMES=1
      - NETWORKS=1
      # Danger zone
      - POST=0 # Disallow any POST operations (effectively read-only)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # Exposes ports: 8000, 9443
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    volumes:
      - ${PWD}/portainer/data:/data
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  # Exposes ports: 61208
  glances:
    image: nicolargo/glances:latest
    restart: unless-stopped
    container_name: glances
    pid: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/os-release:/etc/os-release:ro
    environment:
      - "GLANCES_OPT=-w"
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  # --- INTERNAL DNS
  # Exposes ports: 53/tcp, 53/udp, 3000
  adguardhome:
    image: adguard/adguardhome
    container_name: 'adguardhome'
    restart: unless-stopped
    volumes:
      - ${PWD}/adguard/work:/opt/adguardhome/work
      - ${PWD}/adguard/conf:/opt/adguardhome/conf
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  # Exposes ports: 3000
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    volumes:
      - ${PWD}/homepage/config:/app/config
    environment:
      PUID: "{{ user.PUID }}"
      PGID: "{{ user.PGID }}"
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  # Exposes ports: 8182
  sshwifty:
    image: niruix/sshwifty:latest
    container_name: sshwifty
    restart: unless-stopped
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

  # Exposes ports: 3000, 22
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID={{ user.PUID }}
      - USER_GID={{ user.PGID }}
    restart: unless-stopped
    volumes:
      - ${PWD}/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy
    depends_on:
      nginx-proxy-manager:
        condition: service_healthy

networks:
  proxy: