version: "2"

services:

  gitea:
    image: gitea/gitea:latest-rootless
    container_name: 'gitea'
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/gitea
      - ./config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:

      # Web UI
      - "{{ midgard.ip.private }}:3000:3000"

      # Exclusive SSH for gitea
      - "{{ midgard.ip.private }}:2222:2222"