version: "3.3"

services:

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: always
    ports:
      - "{{ midgard.ip.private }}:5000:3000"
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
    environment:
      PUID: "{{ user_details.PUID }}"
      PGID: "{{ user_details.PGID }}"