version: '3'

services:

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "{{ midgard.ip.private }}:8000:8000"
      - "{{ midgard.ip.private }}:9443:9443"
    restart: unless-stopped
    volumes:
      - ./data:/data